/* # CSS reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  	font-family: Arial;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background: #fafafa;
	overflow-y: scroll;
}

body.night {
	background: #333333;
}

a {
	color: #666666;
	font-family: 'Courier New', Courier, monospace;
font-weight: 500;
}

body.night a {
	color: #81d68b;
}

a:hover {
	text-decoration: none;
}

#content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	height: auto;
	box-sizing: border-box;
	border: solid 2px #666666;
	overflow: hidden;
}

body.night #content {
	border: solid 2px #81d68b;
}

#main-content {
	text-align: center;
	width: 100%;
	overflow: hidden;
}

#discography {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.border-box {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	border: solid 2px transparent;
	box-sizing: border-box;
}

#header .border-box {
	border-color: #fafafa;
}

body.night #header .border-box {
	border-color: #333333;
}

#header {
	position: relative;
	width: 100%;
	background: #666666;
	border-bottom: solid 2px #666666;
}

body.night #header {
	background: #81d68b;
	border-bottom-color: #81d68b;
}
/* 
#header p {
	text-align: center;
	width: 100%;
} */

#sidebar-container {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0; 
	z-index: 998;
}

#sidebar-toggle {
	position: absolute;
	right: 7px;
	top: 6px;
	width: 25px;
	height: 25px;
	border: solid 2px transparent;
	z-index: 999;
}

#sidebar-toggle:hover {
	cursor: pointer;
}

.sidebar-toggle-icon {
	width: 90%;
	height: 3px;
	margin: 4px auto;
	background: #fafafa;
}

body.night .sidebar-toggle-icon {
	background: #333;
}

#sidebar {
	position: absolute;
	width: 200px;
	height: auto;
	background: #fafafa;
	z-index: 999;
	top: 44.5px;
	right: 0;
	padding-bottom: 35px;
	border-bottom: solid 2px #666;
	border-left: solid 2px #666;
	padding-top: 12.5px;
}

#sidebar.extended-top {
	top: 77px;
}

#version-string {
	position: absolute;
	bottom: 5px;
	left: 5px;
	font-size: .8rem;
	color: #333;
	font-family: 'Courier New', Courier, monospace;
font-weight: 500;
}

body.night #version-string {
	color: #81D68B;
}

body.night #sidebar {
	background: #333;
	border-color: #81D68B;
}

.sidebar-link {
	display: block;
	text-align: right;
	padding: 12.5px 25px 12.5px 0;
	color: #666;
	font-size: 1.25rem;
}

#header-cta {
	border-top: solid 2px #fafafa;
	width: 100%;
	background: #fafafa;
	text-align: center;
}

body.night #header-cta {
	border-top: solid 2px #333333;
	background: #333333;
}

#viewer-window {
	position: absolute;
	width: 100%;
	height: 100%;
}

#viewer-window-content {
	position: absolute;
	top: 0;
	bottom: 50px;
	left: 0;
	right: 0;
	vertical-align: middle;
	background: black;
}

#viewer-window-content-nav {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: auto;
	border-top: solid 2px #666;
	background: #e1e1e1;
	text-align: center;
	padding: 12.5px 0;
}

#objkt-name-title {
	display: inline-block !important;
	margin-bottom: 5px;
}

#viewer-window-content-nav #objkt-title span {
	display: inline;
	font-family: 'Courier New', Courier, monospace;
	font-weight: 500;
	vertical-align: top;
	font-size: 1.25rem;
	line-height: 22.5px;
}

#model-resource {
	position: relative;
	width: 100%;
	height: 100%;
}

body.night #objkt-title * {
	color: #81d68b;
}

#objkt-title {
	position: relative;
	width: 100%;
	text-align: center;
}

#viewer-color-picker-nav {
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
}

#bg-color-picker-menu {
	width: 30px;
	height: auto;
	min-height: 30px;
	background: #e1e1e1;
	border: solid 2px #666;
	position: absolute;
	bottom: 35px;
	right: -2px;
	z-index: 999;
}

body.night #bg-color-picker-menu {
	background: #333;
	border: solid 2px #81D68B;
}

#hex-color-picker-container {
	position: relative;
	right: 0;
	bottom: 0;
	width: 150px;
	height: 100%;
	float: right;
	background: #e1e1e1;
	border-left: solid 2px #666;
}

body.night #hex-color-picker-container {
	background: #333;
	border-left: solid 2px #81D68B;
}

#hex-color-picker {
	float: right;
	text-align: left;
	text-indent: 5px;
	position: relative;
	right: 12.5px;
	top: 20px;
	width: 100px;
	height: 29px;
	vertical-align: middle;
	border: solid 2px #666;
	line-height: 30px !important;
	outline: none;
	color: black;
}

#hex-input-placeholder {
	opacity: .5;
}

body.night #hex-color-picker {
	border: solid 2px #81D68B;
	color: white;
}

#hex-color-picker-submit {
	float: left;
	position: relative;
	width: 30px;
	height: 50px;
	line-height: 70px !important;
	text-align: center;
	padding-top: .2rem;
	color: #333;
}

body.night #hex-color-picker-submit {
	color: #81D68B;
}


#bg-color-picker,
#hex-color-picker-submit:hover {
	cursor: pointer;
}

.color-option {
	width: 17.5px;
	height: 17.5px;
	margin: 6.5px;
}

#bg-color-picker {
	position: relative;
	float: right;
	width: 29px;
	height: 29px;
	top: 20px;
	right: 12.5px;
	margin-left: 12.5px;
	border: solid 2px #666;
}

body.night #bg-color-picker {
	border: solid 2px #81d68b;
}

#selected-bg-color {
	width: 19px;
	height: 19px;
	background: black;
	margin-top: 5px;
	margin-left: 5px;
}

body.night #viewer-window-content-nav {
	border-top: solid 2px #81D68B;
	background: #333 !important;
}

#image-resource {
	width: 100%;
	height: 100%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

#video-resource {
	width: 100%;
	height: 100%;
}

#interactive-resource {
	width: 100%;
	height: 100%;
}

#header-cta span {
	line-height: 30px;
	text-align: center;
	font-size: 1rem;
	color: #666666;
	font-family: 'Courier New', Courier, monospace;
font-weight: 500;
}

body.night #header-cta span {
	color: #81d68b;
}

#title {
	position: relative;
	display: inline-block;
	width: auto;
	text-align: left;
	line-height: 37px;
	height: 40px;
	color: #fafafa;
	font-family: 'Courier New', Courier, monospace;
font-weight: 500;
	font-size: 1.3rem;
	text-indent: 15px;
	vertical-align: middle;
	padding: 2.5px 25px 0 0;
	z-index: 999;
}

#title:hover {
	cursor: pointer;
}

#footer {
	height: 50px;
	position: absolute;
	display: table;
	bottom: 0;
	width: 100%;
	background: #666666;
	text-align: center;
}

#footer-push {
	width: 100%;
	height: 50px;
}

body.night #footer {
	background: #81d68b;
}

#footer > p {
	display: table-cell;
	color: #fafafa;
	font-family: 'Courier New', Courier, monospace;
font-weight: 500;
	font-size: 1.3rem;
	vertical-align: middle;
}

body.night #footer > p {
	color: #333333;
}

/* #title {
	position: relative;
	display: block;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	font-size: 11px;
	color: #fafafa;
} */

body.night #records-subtitle,
body.night #title-subheading,
body.night #title {
	color: #333333;
}

#title:hover,
#title-subheading:hover {
	cursor: pointer;
}

#title-subheading {
	position: relative;
	text-align: center;
}

#title-subheading pre {
	color: #fafafa;
	font-size: 9px;
	padding-top: 10px;
	font-style: italic;
	font-family: 'Times New Roman', Times, serif;
}

body.night #title-subheading pre {
	color: #333333;
}

#border-red {
	width: 100%;
	height: 1px;
	background: red;
}

#border-orange {
	width: 100%;
	height: 1px;
	background: orange;
}

#border-yellow {
	width: 100%;
	height: 1px;
	background: yellow;
}

#border-green {
	width: 100%;
	height: 1px;
}

#border-blue {
	width: 100%;
	height: 1px;
	background: blue;
}


#nav {
	position: relative;
	width: 100%;
	text-align: center;
	margin: 20px 0 15px;
}

#nav a {
	font-size: 1.3rem;
	margin: 0 15px;
	line-height: 50px;
}

#wallet-lookup-container {
	float: none;
	position: relative;
	display: inline-block;
	width: auto;
	left: 0;
	vertical-align: middle;
}

#wallet-lookup-submit:hover {
	cursor: pointer;
	background: #666;
	color: #fafafa;
}

body.night #wallet-lookup-submit:hover {
	cursor: pointer;
	background: #81d68b;
	color: #333;
}

#wallet-lookup-submit {
	position: relative;
	float: left;
	width: 115px;
	height: 25px;
	font-family: 'Courier New', Courier, monospace;
font-weight: 500;
	font-size: 1rem;
	line-height: 27.5px;
	color: #666;
	border: solid 2px #666;
	border-right: none;
	padding: 0 5px;
}

body.night #wallet-lookup-input,
body.night #wallet-lookup-submit {
	color: #81d68b;
	border-color: #81d68b;
}

body.night #wallet-lookup-input {
	color: white;
}

#wallet-lookup-input {
	text-align: left;
	text-indent: 5px;
	position: relative;
	float: left;
	width: 275px;
	height: 25px;
	border: solid 2px #666;
	line-height: 25px;
	outline: none;
	overflow: hidden;
}


[contenteditable="true"]#wallet-lookup-input,
[contenteditable="true"]#settings-import-input {
    white-space: nowrap;
    width:200px;
    overflow: hidden;
} 
[contenteditable="true"]#wallet-lookup-input br,
[contenteditable="true"]#settings-import-input br {
    display:none;

}
[contenteditable="true"]#wallet-lookup-input *,
[contenteditable="true"]#settings-import-input * {
    display:inline;
    white-space:nowrap;
}

#pop-up-container {
	position: relative;
	top: 0;
	left: 0;
	position: fixed;
	display: table;
	width: 100%;
	height: 100%;
	z-index: 999;
}

#pop-up-exit-overlay {
	position: absolute;
	z-index: 998;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

#pop-up-wrapper {
	position: relative;
	display: table-cell;
	margin: 0 auto;
	vertical-align: middle;
	z-index: 999;
}

#pop-up {
	position: relative;
	background: #fafafa;
	margin: 0 auto;
	width: 300px;
	height: 400px;
	text-align: center;
	border: solid 2px #666;
	z-index: 999;
	overflow: hidden;
}

body.night #pop-up {
	background: #333;
	border: solid 2px #81d68b;
}

#pop-up-header {
	position: relative;
	width: 100%;
	height: 50px;
	background: #e1e1e1;
	background: #666;
	border-bottom: solid 2px #666;
}

body.night #pop-up-header {
	background: #81d68b;
	border-bottom: solid 2px #81d68b;
}

#pop-up-header .border-box {
	border-color: #fafafa;
}

body.night #pop-up-header .border-box {
	border: solid 2px #333;
}

body.night #pop-up-exit,
body.night #pop-up-header p {
	color: #333;
}

#pop-up-exit {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    color: #fafafa;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
	z-index: 999;
}

body.night #pop-up-exit {
	color: #333;
}

#pop-up-exit:hover {
	cursor: pointer;
}

#pop-up-header p {
	line-height: 50px;
	vertical-align: middle;
	font-size: 1.3rem;
	font-family: 'Courier New', Courier, 'Courier New', Courier, monospace;
	color: #fafafa;
}

.gallery-link-wrapper {
	width: 300px;
	/* border-bottom: dotted 1px #666; */
	overflow: hidden;
}

.settings-nav-item {
	width: 300px;
	padding: 12.5px 0;
	/* border-bottom: dotted 1px #666; */
	overflow: hidden;
}

.settings-nav-item * {
	font-size: 'Courier New', Courier, monospace;
    font-size: 1.25rem;
    color: #666;
}

.settings-nav-item .button {
	display: inline-block;
	border: solid 2px #666;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	padding: 2.5px 10px;
	font-size: 1rem;
	text-decoration: none;
	font-family: 'Courier New', Courier, monospace;
font-weight: 500;
}

body.night .settings-nav-item .button,
body.night .settings-nav-item .button.disabled:hover {
	background: #333;
	border-color: #81D68B;
	color: #81D68B;
}

body.night .settings-nav-item .button:hover {
	color: #333;
	background: #81D68B;
}

.settings-nav-item .button.disabled {
	opacity: .4;
}

.settings-nav-item .button.disabled *:hover ,
.settings-nav-item .button.disabled:hover {
	cursor: default;
}

.settings-nav-item .button:hover {
	cursor: pointer;
	background: #666;
	color: #fafafa;
}

.settings-nav-item .button.disabled:hover {
	background: #fafafa;
	color: #666;
	cursor: default;
}

#settings-import-input {
	margin: 0 auto 10px;
	width: 60%;
	height: 25px;
	border: solid 2px #666;
	outline: none;
	overflow: hidden;
	line-height: 25px;
	text-align: left;
	text-indent: 5px;
	font-size: 1.25rem;
	color: black;
}

body.night #settings-import-input {
	border-color: #81d68b;
	color: white;
}

#settings-export-text {
	width: 80%;
	margin: 0 auto 10px;
	overflow: hidden;
	white-space: nowrap;
	background: #666;
	color: #fafafa;
	font-size: .8rem;
	text-indent: 2.5px;
	padding: 5px;
}

#gallery-link-container {
	width: 100%;
	height: 275px;
	overflow: hidden;
    overflow-y: scroll;
    padding-right: 20px;
}

#no-gallery-message-container {
	position: absolute;
	display: table;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: 998;
}

#no-gallery-message {
	display: table-cell;
	text-align: center;
	width: 100%;
	height: 100%;
	padding-top: 20px;
	vertical-align: middle;
	font-family: 'Courier New', Courier, monospace;
	font-size: 1.5rem;
	color: #666;
}

body.night #no-gallery-message {
	color: #81d68b;
}

.gallery-link-wrapper {
	padding: 6.25px 0;
	overflow: hidden;
}

.gallery-link {
	display: inline-block;
	text-align: center;
	font-size: 1.25rem;
	line-height: 40px;
	vertical-align: middle;
	color: #666;
	width: auto;
	max-width: 175px;
	margin-right: 20px;
}

.remove-gallery {
	color: red !important;
	font-weight: bold;
}

.remove-gallery,
.add-to-gallery,
.remove-from-gallery {
	position: relative;
	float: left;
	left: 15px;
	line-height: 42.5px;
	vertical-align: middle;
	text-decoration: none;
	font-size: 1rem;
	font-weight: bold;
}

.add-to-gallery {
	color: green !important;
}

.remove-from-gallery {
	color: red !important;
}

#new-gallery-input {
	display: inline-block;
	text-align: left;
	text-indent: 5px;
	position: relative;
	width: 200px;
	height: 25px;
	border: solid 2px #666;
	line-height: 25px;
	outline: none;
	overflow: hidden;
	margin-top: 15px;
}

body.night #new-gallery-input {
	border: solid 2px #81D68B;
	color: white;
}

body.night #new-gallery-submit {
	color: #81D68B;
}

#new-gallery-submit {
	margin: 17.5px 0 0 -9.5px;
	padding: 4.5px 10px 0 0;
	display: inline-block;
	vertical-align: top;
	line-height: 1.3rem;
	font-size: 1.3rem;
}

#new-gallery-submit:hover {
	cursor: pointer;
}

#page-control-nav {
	display: inline-block;
	position: relative;
	margin-left: 75px;
	vertical-align: top;
}

#content.anon-view #page-control-nav {
	margin-top: 0;
}

#page-control-nav span {
	font-size: 1.3rem;
	display: inline-block;
	height: 100%;
	line-height: 30px;
	color: #666666;
	font-family: 'Courier New', Courier, monospace;
font-weight: 500;
}

body.night #page-control-nav span {
	color: #81d68b;
}

#items-per-page {
	display: inline-block;
	width: 50px;
	text-align: center;
}

#decrease-items-per-page:hover,
#increase-items-per-page:hover {
	cursor: pointer;
}

/* #day-night-toggle {
	display: inline-block;
	height: 50px;
	line-height: 50px;
	padding-left: 25px;
}

#day-night-toggle-mobile {
	display: none;
} */

body.night #right-nav span {
	color: #81d68b;
}

#cta {
	width: 100%;
	text-align: center;
	font-size: 1.25rem;
}

.cid {
	color: #81d68b;
	font-size: .8rem;
	line-height: 1rem;
}

body.night .cid {
	color: #fafafa;
}

.objkt-container {
	position: relative;
	width: auto;
	height: auto;
	display: inline-block;
	text-align: left;
	overflow: hidden;
}

.objkt-settings-toggle {
	position: absolute;
	top: 21px;
	right: 10px;
	width: 20px;
	height: 20px;
	background: transparent;
}

.objkt-settings-toggle:hover {
	cursor: pointer;
}

.objkt-settings-toggle-icon {
	position: relative;
    height: 3px;
    width: 100%;
    margin: 3px 0 !important;
    background: #333;
    padding: 0;
}

body.night .objkt-settings-toggle-icon {
	background: #81d68b;
}

.objkt-container.landscape-aspect {
	/* height: 500px;
	vertical-align: top; */
}

body.night .objkt-container {
	border-color: #81d68b;
}

.objkt-container .preview {
	width: 100%;
	height: 100%;
	text-align: center;
}

.objkt-outer-wrapper {
	display: inline-block;
	width: auto;
	height: 600px;
	margin: 5px 15px;
}

.objkt-wrapper-table {
	display: table;
	width: 100%;
	height: 100%;
}

.objkt-wrapper-table-cell {
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
}

.objkt-container .preview .preview-img {
	float: left;
	position: relative;
	display: inline-block;
	background: black;
}

.preview-push {
	height: 15px;
	width: 100%;
	float: right;
}

body.night .objkt-container .preview .preview-img {
	border-color: #81d68b;
}

.objkt-outer-wrapper.placeholder-aspect {
	opacity: .5;
}

.objkt-outer-wrapper.placeholder-aspect .preview {
	background: transparent;
	width: 500px !important;
	height: 500px !important;
}

.objkt-outer-wrapper.placeholder-aspect img {
	display: none !important;
}

.objkt-container .preview.square-aspect {
	width: auto;
	height: 500px;
}

.objkt-container .preview.square-aspect .preview-img {
	width: 100%;
	height: 100%;
}

.objkt-container .preview.landscape-aspect {
	width: 600px;
	height: auto;
}

.objkt-container .preview.landscape-aspect .preview-img {
	width: 100%;
	height: auto;
}

.objkt-container .preview.portrait-aspect {
	width: auto;
	height: 500px;
}

.objkt-container .preview.portrait-aspect .preview-img {
	width: auto;
	height: 100%;
}

.objkt-container .preview:hover {
	cursor: pointer;
}

.objkt-container .preview .resource {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100%;
}

.objkt-container .objkt-metadata {
	position: relative;
	float: right;
	box-sizing: border-box;
	width: 100%;
	height: auto;
	overflow: visible;
	background: transparent;
	text-align: center;
	padding: 7.5px 0px;
	border: solid 3px #666;
}

.objkt-settings-menu-container {
	position: absolute;
	z-index: 999;
	width: auto;
	height: auto;
	background: #fafafa;
	text-align: right;
	bottom: 100%;
	right: -3px;
	padding-bottom: 12.5px;
	padding-left: 7.5px;
	border: solid 3px #333;
}

body.night .objkt-settings-menu-container {
	border-color: #81d68b;
	background: #333;
}

.objkt-settings-link {
	display: block !important;
	padding: 7.5px;
	font-family: 'Courier New', Courier, monospace !important;
	font-weight: 500 !important;
	font-size: 1.25rem;
}

.objkt-container .objkt-metadata * {
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.25rem;
	color: #666666 !important;
	/* text-decoration: none; */
}

body.night .objkt-container .objkt-metadata * {
	color: #81D68B !important;
}

.objkt-container .objkt-metadata a {
	display: inline-block;
	font-size: 1.1rem;
	line-height: 1.5rem;
}

.extra-long-title {
	font-size: 1rem !important;
	width: 90%;
}

.objkt-container .objkt-metadata a:hover {
	/* text-decoration: underline; */
}

body.night .objkt-container .objkt-metadata {
	border-color: #81d68b;
}

.objkt-gallery-settings {
	position: absolute;
	top: 5px;
	right: 5px;
}

.objkt-gallery-settings:hover {
	cursor: pointer;
}

#footer-break {
	display: none;
}

.hidden {
	display: none !important;
}

#next-page-controls {
	width: 100%;
	text-align: center;
	height: 60px;
	margin-bottom: 10px;
}

#next-page-mobile,
#previous-page-mobile {
	display: none;
}

.next-page-button,
.previous-page-button {
	display: inline-block;
	z-index: 100;
	bottom: 25px;
	width: 200px;
}

.next-page-button.disabled,
.previous-page-button.disabled {
	text-decoration: line-through;
}

.next-page-button.disabled:hover,
.previous-page-button.disabled:hover {
	cursor: default;
}

body.night .next-page-button,
body.night .previous-page-button {
	border-color: #81d68b;
	background: #333;
}

.next-page-button {
	right: 25px;
}

.previous-page-button {
	left: 25px;
}

#next-page-controls a,
#next-page-controls span {
	font-family: 'Courier New', Courier, monospace;
font-weight: 500;
	line-height: 60px;
	font-size: 1.3rem;
}

#next-page-control-flare {
	display: inline-block;
	width: 40px;
	color: red !important;
}

body.night #next-page-control-flare {
	color: #81d68b;
}

#objkt-title-break {
	display: none;
}

#objkt-title-space {
	display: inline;
}

@media only screen and (max-width: 825px) {
	.extra-long-viewer-title {
		font-size: 1rem !important;
	}

	.extra-long-title {
		width: 70%;
	}

	#page-control-nav {
		width: 100%;
		margin-left: 0;
		margin-top: 20px;
	}

	.objkt-outer-wrapper {
		display: inline-block;
		width: auto;
		height: auto;
		margin: 20px 0;
	}

	#nav {
		margin-bottom: 0;
	}

	.objkt-container .preview.landscape-aspect {
		width: 550px;
		height: auto;
	}

	.objkt-container .preview.portrait-aspect {
		width: 425px;
		height: auto;
	}

	.objkt-container .preview.portrait-aspect .preview-img {
		width: 100%;
		height: auto;
	}

	.objkt-container .preview.square-aspect {
		width: 500px;
		height: 500px;
	}

	#footer p {
		font-size: 1.1rem;
	}
}

@media only screen and (max-width: 650px) {
	.extra-long-viewer-title {
		display: inline-block;
		font-size: 1.2rem !important;
	}

	#objkt-title {
		width: 75%;
		margin: 0 auto;
	}

	#footer-dash {
		display: none;
	}

	#footer-break {
		display: block;
	}

	#footer-push {
		padding: 5px 0;
	}

	#footer {
		padding: 5px 0;
	}

	#footer p {
		font-size: 1.2rem;
		line-height: 1.5rem;
	}

	.objkt-container .preview.landscape-aspect {
		width: 450px;
	}

	.objkt-container.portrait-aspect {
		max-width: 325px;
		overflow: hidden;
	}

	.objkt-container .preview.portrait-aspect {
		width: 325px;
	}

	.objkt-container .preview.square-aspect {
		width: 400px;
		height: 400px;
	}

	.objkt-outer-wrapper.placeholder-aspect .preview {
		width: 400px !important;
		height: 400px !important;
	}	

	.objkt-container .objkt-metadata {
		height: auto;
	}

	.objkt-container .objkt-metadata {
		line-height: 1.5rem;
	}

	.objkt-container .objkt-metadata * {
		margin-bottom: 0;
	}
}

@media only screen and (max-width: 550px) {
	.objkt-container .preview.landscape-aspect {
		width: 375px;
	}

	.objkt-outer-wrapper.landscape-aspect .objkt-metadata {
		width: 375px !important;
	}

	.objkt-outer-wrapper.landscape-aspect .preview-img {
		width: 375px !important;
		overflow: hidden;
	}	

	.objkt-container.portrait-aspect .objkt-metadata {
		max-width: 275px;
	}

	.objkt-container .preview.portrait-aspect {
		width: 275px;
	}

	.objkt-container .preview.square-aspect {
		width: 350px;
		height: 350px;
	}

	.objkt-outer-wrapper.placeholder-aspect .objkt-metadata {
		max-width: 350px !important;
	}	

	.objkt-outer-wrapper.placeholder-aspect .preview {
		width: 350px !important;
		height: 350px !important;
	}	

	#wallet-lookup-input {
		width: 225px;
	}

	#title {
		font-size: 1.2rem;
	}

	#previous-page,
	#next-page {
		display: none;
	}

	#previous-page-mobile,
	#next-page-mobile {
		display: inline-block;
		width: 100px;
	}

	.extra-long-title {
		width: 75%;
		font-size: 1.2rem;
	}
}
