/* # CSS reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  	font-family: Arial;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background: #fafafa;
	overflow-y: scroll;
}

body.night {
	background: #333333;
}

a {
	color: #666666;
	font-family: monospace;
}

body.night a {
	color: #81d68b;
}

a:hover {
	text-decoration: none;
}

#content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	height: auto;
	box-sizing: border-box;
	border: solid 4px #666666;
	overflow: hidden;
}

body.night #content {
	border: solid 4px #81d68b;
}

#main-content {
	text-align: center;
	width: 100%;
	overflow: hidden;
}

#discography {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.border-box {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	border: solid 3px transparent;
	box-sizing: border-box;
}

#header .border-box {
	border-color: #fafafa;
}

body.night #header .border-box {
	border-color: #333333;
}

#header {
	position: relative;
	width: 100%;
	background: #666666;
	border-bottom: solid 4px #666666;
}

body.night #header {
	background: #81d68b;
	border-bottom-color: #81d68b;
}
/* 
#header p {
	text-align: center;
	width: 100%;
} */

#sidebar-toggle {
	position: absolute;
	right: 7px;
	top: 6px;
	width: 25px;
	height: 25px;
	border: solid 3px transparent;
	z-index: 999;
}

#sidebar-toggle:hover {
	cursor: pointer;
}

.sidebar-toggle-icon {
	width: 90%;
	height: 3px;
	margin: 4px auto;
	background: #fafafa;
}

body.night .sidebar-toggle-icon {
	background: #333;
}

#sidebar {
	position: absolute;
	width: 200px;
	height: auto;
	background: #fafafa;
	z-index: 999;
	top: 49px;
	right: 0;
	padding-bottom: 35px;
	border-bottom: solid 3px #666;
	border-left: solid 3px #666;
	padding-top: 12.5px;
}

#version-string {
	position: absolute;
	bottom: 5px;
	left: 5px;
	font-size: .8rem;
	color: #333;
	font-family: monospace;
}

body.night #version-string {
	color: #81D68B;
}

body.night #sidebar {
	background: #333;
	border-color: #81D68B;
}

.sidebar-link {
	display: block;
	text-align: right;
	padding: 12.5px 25px 12.5px 0;
	color: #666;
	font-size: 1.25rem;
}

#header-cta {
	border-top: solid 4px #fafafa;
	width: 100%;
	background: #fafafa;
	text-align: center;
}

body.night #header-cta {
	border-top: solid 4px #333333;
	background: #333333;
}

#viewer-window {
	position: absolute;
	width: 100%;
	height: 100%;
}

#viewer-window-content {
	position: absolute;
	top: 0;
	bottom: 50px;
	left: 0;
	right: 0;
	vertical-align: middle;
	background: black;
}

#viewer-window-content-nav {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	border-top: solid 4px #666;
	background: #e1e1e1;
	text-align: center;
}

#viewer-window-content-nav span {
	display: inline-block;
	height: 50px;
	line-height: 50px;
	font-family: monospace;
	vertical-align: top;
	font-size: 1.25rem;
}

#model-resource {
	position: relative;
	width: 100%;
	height: 100%;
}

body.night #objkt-title * {
	color: #81d68b;
}

#objkt-title {
	position: absolute;
	width: 100%;
	height: 50px;
	bottom: 0;
	text-align: center;
}

#bg-color-picker-menu {
	width: 30px;
	height: auto;
	min-height: 30px;
	background: #e1e1e1;
	border: solid 3px #666;
	position: absolute;
	bottom: 35px;
	right: -4.5px;
}

body.night #bg-color-picker-menu {
	background: #333;
	border: solid 3px #81D68B;
}

#hex-color-picker-container {
	position: relative;
	right: 0;
	bottom: 0;
	width: 150px;
	height: 50px;
	float: right;
	background: #e1e1e1;
	border-left: solid 3px #666;
}

body.night #hex-color-picker-container {
	background: #333;
	border-left: solid 3px #81D68B;
}

#hex-color-picker {
	float: right;
	text-align: left;
	text-indent: 5px;
	position: relative;
	right: 12.5px;
	top: 11px;
	width: 100px;
	height: 29px;
	line-height: 50px;
	vertical-align: middle;
	border: solid 3px #666;
	line-height: 25px;
	outline: none;
	color: black;
}

body.night #hex-color-picker {
	border: solid 3px #81D68B;
	color: white;
}

#hex-color-picker-submit {
	float: right;
	margin-right: 10px;
	position: relative;
	width: 30px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	padding-top: .2rem;
	color: #333;
}

body.night #hex-color-picker-submit {
	color: #81D68B;
}


#bg-color-picker,
#hex-color-picker-submit:hover {
	cursor: pointer;
}

.color-option {
	width: 17.5px;
	height: 17.5px;
	margin: 6.5px;
}

#bg-color-picker {
	position: relative;
	float: right;
	width: 29px;
	height: 29px;
	top: 11px;
	right: 12.5px;
	margin-left: 12.5px;
	border: solid 3px #666;
}

body.night #bg-color-picker {
	border: solid 3px #81d68b;
}

#selected-bg-color {
	border-radius: 2.5px;
	width: 19px;
	height: 19px;
	background: black;
	margin-top: 5px;
	margin-left: 5px;
}

body.night #viewer-window-content-nav {
	border-top: solid 4px #81D68B;
	background: #333 !important;
}

#image-resource {
	width: 100%;
	height: 100%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

#video-resource {
	width: 100%;
	height: 100%;
}

#interactive-resource {
	width: 100%;
	height: 100%;
}

#header-cta span {
	line-height: 30px;
	text-align: center;
	font-size: 1rem;
	color: #666666;
	font-family: monospace;
}

body.night #header-cta span {
	color: #81d68b;
}

#title {
	position: relative;
	display: inline-block;
	width: auto;
	text-align: left;
	line-height: 37px;
	height: 40px;
	color: #fafafa;
	font-family: monospace;
	font-size: 1.3rem;
	text-indent: 15px;
	vertical-align: middle;
	padding: 2.5px 25px 0 0;
	z-index: 999;
}

#title:hover {
	cursor: pointer;
}

#footer {
	height: 50px;
	position: absolute;
	display: table;
	bottom: 0;
	width: 100%;
	background: #666666;
	text-align: center;
}

#footer-push {
	width: 100%;
	height: 50px;
}

body.night #footer {
	background: #81d68b;
}

#footer > p {
	display: table-cell;
	color: #fafafa;
	font-family: monospace;
	font-size: 1.3rem;
	vertical-align: middle;
}

body.night #footer > p {
	color: #333333;
}

/* #title {
	position: relative;
	display: block;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	font-size: 11px;
	color: #fafafa;
} */

body.night #records-subtitle,
body.night #title-subheading,
body.night #title {
	color: #333333;
}

#title:hover,
#title-subheading:hover {
	cursor: pointer;
}

#title-subheading {
	position: relative;
	text-align: center;
}

#title-subheading pre {
	color: #fafafa;
	font-size: 9px;
	padding-top: 10px;
	font-style: italic;
	font-family: 'Times New Roman', Times, serif;
}

body.night #title-subheading pre {
	color: #333333;
}

#border-red {
	width: 100%;
	height: 1px;
	background: red;
}

#border-orange {
	width: 100%;
	height: 1px;
	background: orange;
}

#border-yellow {
	width: 100%;
	height: 1px;
	background: yellow;
}

#border-green {
	width: 100%;
	height: 1px;
}

#border-blue {
	width: 100%;
	height: 1px;
	background: blue;
}


#nav {
	position: relative;
	width: 100%;
	text-align: center;
	margin: 20px 0 15px;
}

#nav a {
	font-size: 1.3rem;
	margin: 0 15px;
	line-height: 50px;
}

#wallet-lookup-container {
	float: none;
	position: relative;
	display: inline-block;
	width: auto;
	left: 0;
	vertical-align: middle;
}

#wallet-lookup-submit:hover {
	cursor: pointer;
	background: #666;
	color: #fafafa;
}

body.night #wallet-lookup-submit:hover {
	cursor: pointer;
	background: #81d68b;
	color: #333;
}

#wallet-lookup-submit {
	position: relative;
	float: left;
	width: 115px;
	height: 25px;
	font-family: monospace;
	font-size: 1rem;
	line-height: 25px;
	color: #666;
	border: solid 3px #666;
	border-right: none;
	padding: 0 5px;
	border-top-left-radius: 2.5px;
	border-bottom-left-radius: 2.5px;
}

body.night #wallet-lookup-input,
body.night #wallet-lookup-submit {
	color: #81d68b;
	border-color: #81d68b;
}

body.night #wallet-lookup-input {
	color: white;
}

#wallet-lookup-input {
	text-align: left;
	text-indent: 5px;
	position: relative;
	float: left;
	width: 275px;
	height: 25px;
	border: solid 3px #666;
	line-height: 25px;
	outline: none;
	overflow: hidden;
	border-top-right-radius: 2.5px;
	border-bottom-right-radius: 2.5px;
}


[contenteditable="true"]#wallet-lookup-input,
[contenteditable="true"]#settings-import-input {
    white-space: nowrap;
    width:200px;
    overflow: hidden;
} 
[contenteditable="true"]#wallet-lookup-input br,
[contenteditable="true"]#settings-import-input br {
    display:none;

}
[contenteditable="true"]#wallet-lookup-input *,
[contenteditable="true"]#settings-import-input * {
    display:inline;
    white-space:nowrap;
}

#pop-up-container {
	position: relative;
	top: 0;
	left: 0;
	position: fixed;
	display: table;
	width: 100%;
	height: 100%;
	z-index: 999;
}

#pop-up-exit-overlay {
	position: absolute;
	z-index: 998;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

#pop-up-wrapper {
	position: relative;
	display: table-cell;
	margin: 0 auto;
	vertical-align: middle;
	z-index: 999;
}

#pop-up {
	position: relative;
	background: #fafafa;
	margin: 0 auto;
	width: 300px;
	height: 400px;
	text-align: center;
	border: solid 4px #666;
	z-index: 999;
	border-radius: 2.5px;
	overflow: hidden;
}

body.night #pop-up {
	background: #333;
	border: solid 4px #81d68b;
}

#pop-up-header {
	position: relative;
	width: 100%;
	height: 50px;
	background: #e1e1e1;
	background: #666;
	border-bottom: solid 4px #666;
}

body.night #pop-up-header {
	background: #81d68b;
	border-bottom: solid 4px #81d68b;
}

#pop-up-header .border-box {
	border-color: #fafafa;
}

body.night #pop-up-header .border-box {
	border: solid 4px #333;
}

body.night #pop-up-exit,
body.night #pop-up-header p {
	color: #333;
}

#pop-up-exit {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    color: #fafafa;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
    font-size: 1rem;
}

body.night #pop-up-exit {
	color: #333;
}

#pop-up-exit:hover {
	cursor: pointer;
}

#pop-up-header p {
	line-height: 50px;
	vertical-align: middle;
	font-size: 1.3rem;
	font-family: monospace;
	color: #fafafa;
}

.gallery-link-wrapper {
	width: 300px;
	/* border-bottom: dotted 1px #666; */
	overflow: hidden;
}

.settings-nav-item {
	width: 300px;
	padding: 12.5px 0;
	/* border-bottom: dotted 1px #666; */
	overflow: hidden;
}

.settings-nav-item * {
	font-size: monospace;
    font-size: 1.25rem;
    color: #666;
}

.settings-nav-item .button {
	display: inline-block;
	border: solid 3px #666;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	padding: 2.5px 10px;
	font-size: 1rem;
	text-decoration: none;
	border-radius: 2.5px;
	font-family: monospace;
}

body.night .settings-nav-item .button,
body.night .settings-nav-item .button.disabled:hover {
	background: #333;
	border-color: #81D68B;
	color: #81D68B;
}

body.night .settings-nav-item .button:hover {
	color: #333;
	background: #81D68B;
}

.settings-nav-item .button.disabled {
	opacity: .4;
}

.settings-nav-item .button.disabled *:hover ,
.settings-nav-item .button.disabled:hover {
	cursor: default;
}

.settings-nav-item .button:hover {
	cursor: pointer;
	background: #666;
	color: #fafafa;
}

.settings-nav-item .button.disabled:hover {
	background: #fafafa;
	color: #666;
	cursor: default;
}

#settings-import-input {
	margin: 0 auto 10px;
	width: 60%;
	height: 25px;
	border: solid 3px #666;
	outline: none;
	overflow: hidden;
	line-height: 25px;
	text-align: left;
	text-indent: 5px;
	font-size: 1.25rem;
	border-radius: 2.5px;
	color: black;
}

body.night #settings-import-input {
	border-color: #81d68b;
	color: white;
}

#settings-export-text {
	width: 80%;
	margin: 0 auto 10px;
	overflow: hidden;
	white-space: nowrap;
	background: #666;
	color: #fafafa;
	font-size: .8rem;
	text-indent: 2.5px;
	padding: 5px;
}

#gallery-link-container {
	width: 100%;
	height: 275px;
	overflow: hidden;
    overflow-y: scroll;
    padding-right: 20px;
}

.gallery-link-wrapper {
	padding: 6.25px 0;
	overflow: hidden;
}

.gallery-link {
	display: inline-block;
	text-align: center;
	font-size: 1.25rem;
	line-height: 40px;
	vertical-align: middle;
	color: #666;
	width: auto;
	max-width: 175px;
	margin-right: 20px;
}

.remove-gallery {
	color: red !important;
	font-weight: bold;
}

.remove-gallery,
.add-to-gallery,
.remove-from-gallery {
	position: relative;
	float: left;
	left: 15px;
	line-height: 42.5px;
	vertical-align: middle;
	text-decoration: none;
	font-size: 1rem;
	font-weight: bold;
}

.add-to-gallery {
	color: green !important;
}

.remove-from-gallery {
	color: red !important;
}

#new-gallery-input {
	display: inline-block;
	text-align: left;
	text-indent: 5px;
	position: relative;
	width: 200px;
	height: 25px;
	border: solid 3px #666;
	line-height: 25px;
	outline: none;
	overflow: hidden;
	margin-top: 15px;
	border-radius: 2.5px;
}

body.night #new-gallery-input {
	border: solid 3px #81D68B;
	color: white;
}

body.night #new-gallery-submit {
	color: #81D68B;
}

#new-gallery-submit {
	margin: 17.5px 0 0 -9.5px;
	padding: 4.5px 10px 0 0;
	display: inline-block;
	vertical-align: top;
	line-height: 1.3rem;
	font-size: 1.3rem;
}

#new-gallery-submit:hover {
	cursor: pointer;
}

#page-control-nav {
	display: inline-block;
	position: relative;
	margin-left: 75px;
	vertical-align: top;
}

#page-control-nav span {
	font-size: 1.3rem;
	display: inline-block;
	height: 100%;
	line-height: 30px;
	color: #666666;
	font-family: monospace;
}

body.night #page-control-nav span {
	color: #81d68b;
}

#items-per-page {
	display: inline-block;
	width: 50px;
	text-align: center;
}

#decrease-items-per-page:hover,
#increase-items-per-page:hover {
	cursor: pointer;
}

/* #day-night-toggle {
	display: inline-block;
	height: 50px;
	line-height: 50px;
	padding-left: 25px;
}

#day-night-toggle-mobile {
	display: none;
} */

body.night #right-nav span {
	color: #81d68b;
}

#cta {
	width: 100%;
	text-align: center;
	font-size: 1.25rem;
}

.cid {
	color: #81d68b;
	font-size: .8rem;
	line-height: 1rem;
}

body.night .cid {
	color: #fafafa;
}

.objkt-container {
	position: relative;
	width: auto;
	height: auto;
	display: inline-block;
	border: solid 4px #666666;
	text-align: left;
}

.objkt-container.landscape-aspect {
	/* height: 500px;
	vertical-align: top; */
}

body.night .objkt-container {
	border-color: #81d68b;
}

.objkt-container .preview {
	width: 100%;
	height: 100%;
	text-align: center;
}

.objkt-outer-wrapper {
	display: inline-block;
	width: auto;
	height: 600px;
	margin: 5px 15px;
}

.objkt-wrapper-table {
	display: table;
	width: 100%;
	height: 100%;
}

.objkt-wrapper-table-cell {
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
}

.objkt-container .preview .preview-img {
	display: inline-block;
	border-bottom: solid 4px #666666;
	background: black;
}

body.night .objkt-container .preview .preview-img {
	border-color: #81d68b;
}

.objkt-outer-wrapper.placeholder-aspect {
	opacity: .5;
}

.objkt-outer-wrapper.placeholder-aspect .preview {
	background: transparent;
	width: 500px !important;
	height: 500px !important;
}

.objkt-outer-wrapper.placeholder-aspect img {
	display: none !important;
}

.objkt-container .preview.square-aspect {
	width: auto;
	height: 500px;
}

.objkt-container .preview.square-aspect .preview-img {
	width: 100%;
	height: 100%;
}

.objkt-container .preview.landscape-aspect {
	width: 600px;
	height: auto;
}

.objkt-container .preview.landscape-aspect .preview-img {
	width: 100%;
	height: auto;
}

.objkt-container .preview.portrait-aspect {
	width: auto;
	height: 500px;
}

.objkt-container .preview.portrait-aspect .preview-img {
	width: auto;
	height: 100%;
}

.objkt-container .preview:hover {
	cursor: pointer;
}

.objkt-container .preview .resource {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100%;
}

.objkt-container .objkt-metadata {
	position: relative;
	box-sizing: content-box;
	width: 100%;
	height: 40px;
	background: transparent;
	overflow: hidden;
	text-align: center;
	padding: 12.5px 0px;
}

.objkt-container .objkt-metadata * {
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 7.5px;
	font-size: 1.25rem;
	color: #666666 !important;
	/* text-decoration: none; */
}

body.night .objkt-container .objkt-metadata * {
	color: #81D68B !important;
}

.objkt-container .objkt-metadata a {
	display: inline-block;
	font-size: 1.1rem;
}

.objkt-container .objkt-metadata a:hover {
	/* text-decoration: underline; */
}

body.night .objkt-container .objkt-metadata {
	border-color: #81d68b;
}

.objkt-gallery-settings {
	position: absolute;
	top: 5px;
	right: 5px;
}

.objkt-gallery-settings:hover {
	cursor: pointer;
}

#footer-break {
	display: none;
}

.hidden {
	display: none !important;
}

#next-page-controls {
	width: 100%;
	text-align: center;
	height: 60px;
	margin-bottom: 10px;
}

#next-page-mobile,
#previous-page-mobile {
	display: none;
}

.next-page-button,
.previous-page-button {
	display: inline-block;
	z-index: 100;
	bottom: 25px;
	width: 200px;
}

.next-page-button.disabled,
.previous-page-button.disabled {
	text-decoration: line-through;
}

.next-page-button.disabled:hover,
.previous-page-button.disabled:hover {
	cursor: default;
}

body.night .next-page-button,
body.night .previous-page-button {
	border-color: #81d68b;
	background: #333;
}

.next-page-button {
	right: 25px;
}

.previous-page-button {
	left: 25px;
}

#next-page-controls a,
#next-page-controls span {
	font-family: monospace;
	line-height: 60px;
	font-size: 1.3rem;
}

#next-page-control-flare {
	display: inline-block;
	width: 40px;
	color: red !important;
}

body.night #next-page-control-flare {
	color: #81d68b;
}

#objkt-title-break {
	display: none;
}

#objkt-title-space {
	display: inline;
}

@media only screen and (max-width: 882px) {
	/* #records-subtitle,
	#title {
		font-size: .69rem;
		line-height: .69rem;
	} */

	/* #title-subheading pre {
		font-size: 8px;
		line-height: .50rem;
	}

	#footer > p {
		font-size: 1.25rem;
	}

	#footer > p {
		font-size: 1.15rem;
	} */

	#footer {
		padding-top: 5px;
	}

	#footer-push {
		padding-top: 5px;
	}

	#footer > p {
		font-size: 1.15rem;
		line-height: 1.35rem;
	}

	#objkt-title-break {
		display: block;
	}
	
	#objkt-title-space {
		display: none;
	}

	#objkt-name {
		margin-top: 11px;
	}

	#objkt-title span {
		line-height: 1.25rem;
		font-size: 1rem !important;
	}

	#footer-dash {
		display: none;
	}

	#footer-break {
		display: inherit;
	}

	/* #records-subtitle,
	#title {
		font-size: .69rem;
		line-height: .69rem;
	} */
/* 
	#title-subheading pre {
		font-size: .50rem;
		line-height: .50rem;
	} */

	#header-cta span {
		font-size: .9rem;
	}

	#page-control-nav {
		display: block;
		margin-left: 0;
	}

	#wallet-lookup-submit {
		font-size: 1rem;
		width: 110px;
	}

	#wallet-lookup-input {
		width: 175px;
	}

	#nav {
		height: 180px;
		margin-bottom: 10px;
	}

	#nav a {
		font-size: 1.3rem;
		margin: 0 10px;
	}

	#page-control-nav span {
		font-size: 1.3rem;
	}
}

@media only screen and (max-width: 400px) {
	/* #day-night-toggle {
		display: none;
	}
	
	#day-night-toggle-mobile {
		display: inline-block !important;
		margin-left: 10px !important;
	} */

	#nav a {
		margin: 0 5px;
		font-size: 1.2rem;
	}

	#wallet-lookup-input {
		width: 215px;
	}

	#objkt-title {
		width: 85%;
	}

	#records-subtitle,
	#title {
		font-size: 1rem;
		line-height: 40px;
		/* line-height: 1rem; */
	}

	#sidebar {
		bottom: 55px;
		width: 175px;
	}

	.sidebar-link {
		padding-right: 25px;
	}

	#title-subheading pre {
		font-size: .4rem;
		line-height: .4rem;
	}

	.objkt-container {
		width: 335px;
		height: 525px;
	}

	.objkt-container .preview {
		width: 285px;
		height: 285px;
	}

	.objkt-container .objkt-metadata {
		width: 265px;
	}

	#next-page-mobile,
	#previous-page-mobile {
		display: inline-block;
	}

	#next-page,
	#previous-page {
		display: none;
	}

	#page-control-nav span {
		font-size: 1.2rem;
	}
}
